{% extends 'base.html' %}
{% load static %}
{% block active1 %}
    active
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div>
        <div class="row">
            <div class="col col-xs-3 col-sm-3 col-md-2 col-lg-2">
            </div>
            <div class="col col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <div id="search-image">
                    <br>
                    <br>
                    <br>
                    <div class="input-group">
                        <input type="text" class="search-term form-control search-style" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="search-style search-button" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-3 col-sm-3 col-md-2 col-lg-2">
            </div>
            <div class="col col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <div id="trending-div" class="zero-opacity"></div>
            </div>
        </div>
        <br>
        <br>

    </div>
{% endblock %}