{% extends 'base.html' %}
{% load static %}
{% block active1 %}
    active
{% endblock %}
{% block content %}

    <div>
        <div class="row">
            <div class="col col-xs-3 col-sm-3 col-md-2 col-lg-2">
            </div>
            <div class="col col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <div id="search-image">
                    <br>
                    <br>
                    <br>
                    <div class="input-group">
                        <input type="text" class="search-term form-control search-style" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="search-style search-button" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
            <br>
    <br>
    <br>    <br>
    <br>
    <br>
        <div class="map-areas">
            <br>
            <br>
            <br>
            <br>
            <div class="row">
            <div class="col col-xs-3 col-sm-3 col-md-2 col-lg-2">
            </div>
            <div class="col col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <div id="trending-div" class="zero-opacity"></div>
            </div>
        </div>
        <div class="chart-container">
            <div id="canvas-holder">
		    <canvas id="chart-area"></canvas>
	    </div>
        </div>
        <br>
        <br>
        <div class="chart-container">
            <canvas id="sentiment-bar-chart"></canvas>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div style="background-color: #FFF; height: 750px; border-radius: 8px;" class="chart-container">
            <div id="india-map" class="imageWrapper">
            </div>
            <br>
            <br>
            <img class="legends" src="{% static 'assets/images/maps/legend.png' %}">
        </div>
            <br>



        <br>
        <br>
        <br>
        <div class="chart-container">
            <div>
		<canvas id="canvas"></canvas>
        </div>
        </div>
            <br>
            <br><br>
            <br><br>
            <br>


            <script>
                {% static "" as baseUrl %}
                var states = [];
                var maps = [{
                    "contents": {
                        "timeline": {
                            "neg": {
                                "2018-03-30 09:00:00": 67,
                                "2018-03-30 01:00:00": 135,
                                "2018-03-29 22:00:00": 191,
                                "2018-03-30 08:00:00": 160,
                                "2018-03-29 19:00:00": 325,
                                "2018-03-30 06:00:00": 191,
                                "2018-03-29 17:00:00": 112,
                                "2018-03-30 03:00:00": 170,
                                "2018-03-29 21:00:00": 253,
                                "2018-03-30 00:00:00": 69,
                                "2018-03-29 23:00:00": 116,
                                "2018-03-30 07:00:00": 186,
                                "2018-03-29 20:00:00": 248,
                                "2018-03-30 04:00:00": 173,
                                "2018-03-29 18:00:00": 485,
                                "2018-03-30 02:00:00": 169,
                                "2018-03-30 05:00:00": 205
                            },
                            "neu": {
                                "2018-03-30 09:00:00": 57,
                                "2018-03-30 01:00:00": 94,
                                "2018-03-29 22:00:00": 143,
                                "2018-03-30 08:00:00": 147,
                                "2018-03-29 19:00:00": 218,
                                "2018-03-30 06:00:00": 169,
                                "2018-03-29 17:00:00": 85,
                                "2018-03-30 03:00:00": 125,
                                "2018-03-29 21:00:00": 141,
                                "2018-03-30 00:00:00": 67,
                                "2018-03-29 23:00:00": 112,
                                "2018-03-30 07:00:00": 165,
                                "2018-03-29 20:00:00": 180,
                                "2018-03-30 04:00:00": 158,
                                "2018-03-29 18:00:00": 376,
                                "2018-03-30 02:00:00": 145,
                                "2018-03-30 05:00:00": 181
                            },
                            "pos": {
                                "2018-03-30 09:00:00": 105,
                                "2018-03-30 01:00:00": 170,
                                "2018-03-29 22:00:00": 227,
                                "2018-03-30 08:00:00": 209,
                                "2018-03-29 19:00:00": 379,
                                "2018-03-30 06:00:00": 242,
                                "2018-03-29 17:00:00": 181,
                                "2018-03-30 03:00:00": 252,
                                "2018-03-29 21:00:00": 211,
                                "2018-03-30 00:00:00": 126,
                                "2018-03-29 23:00:00": 154,
                                "2018-03-30 07:00:00": 248,
                                "2018-03-29 20:00:00": 257,
                                "2018-03-30 04:00:00": 233,
                                "2018-03-29 18:00:00": 579,
                                "2018-03-30 02:00:00": 159,
                                "2018-03-30 05:00:00": 256
                            }
                        },
                        "total_sentiment": {
                            "neg": 3255,
                            "neu": 2563,
                            "pos": 3988
                        },
                        "important_tweets": {
                            "neg": [
                                {
                                    "original_text": "A year ban for ball tempering ?? That\\u2019s a joke.What kind of crime they have done ?Taking the game away from someone for a year is absolutely nonsense.understand if ban was for 1 test series or 2 but this is ridiculous.hope @CricketAus reduce th ban @stevesmith49 @davidwarner31",
                                    "text": "A year ban for ball tempering ?? That a joke.What kind of crime they have done ?Taking the game away from someone for a year is absolutely nonsense.understand if ban was for 1 test series or 2 but this is ridiculous.hope @CricketAus reduce th ban @stevesmith49 @davidwarner31"
                                },
                                {
                                    "original_text": "\\u091c\\u092c \\u092b\\u0942\\u091f-\\u092b\\u0942\\u091f\\u0915\\u0930 \\u0930\\u094b \\u092a\\u0921\\u093c\\u0947 \\u0911\\u0938\\u094d\\u091f\\u094d\\u0930\\u0947\\u0932\\u093f\\u092f\\u093e \\u0915\\u0947 \\u092a\\u0942\\u0930\\u094d\\u0935 \\u0915\\u092a\\u094d\\u0924\\u093e\\u0928 \\u0938\\u094d\\u091f\\u0940\\u0935 \\u0938\\u094d\\u092e\\u093f\\u0925 https://t.co/7QbUaBp8i0 via @aajtak @stevesmith49 @harbhajan_singh @MadanLal1983",
                                    "text": "When former Australia captain Steve Smith was beaten by @aajtak @ stevesmith49 @haround_singh @ MadanLal1983"
                                },
                                {
                                    "original_text": "@ashwinravi99 @stevesmith49 World wanted them to cry for no reason? They cheated. They were punished and that should be the end of it. They are not victims of any conspiracy. So sympathy is misplaced. Yes they should be given space now and allowed to reform and return.",
                                    "text": "@ashwinravi99 @stevesmith49 World wanted them to cry for no reason? They cheated. They were punished and that should be the end of it. They are not victims of any conspiracy. So sympathy is misplaced. Yes they should be given space now and allowed to reform and return."
                                },
                                {
                                    "original_text": "Feel for @davidwarner31 @stevesmith49 and @cbancroft4 Whatever might have happened just cant help think that they have been hung out to dry... #sandpapergate",
                                    "text": "Feel for @davidwarner31 @stevesmith49 and @cbancroft4 Whatever might have happened just cant help think that they have been hung out to dry... #sandpapergate"
                                },
                                {
                                    "original_text": "It is unfortunate that @stevesmith49 had to leave his own country and city to find peace. He has left Aus clearly to avoid media hysteria.",
                                    "text": "It is unfortunate that @stevesmith49 had to leave his own country and city to find peace. He has left Aus clearly to avoid media hysteria."
                                }
                            ],
                            "neu": [
                                {
                                    "original_text": "The press conference was over when @stevesmith49 mentioned his Dad first then his Mum...\\nIt showed a toughness to keep on talking when we all thought he was inconsolable. \\nThe public will forgive this man.\\nI look forward to seeing his return. https://t.co/h1Nv66CXkN",
                                    "text": "The press conference was over when @stevesmith49 mentioned his Dad first then his Mum... It showed a toughness to keep on talking when we all thought he was inconsolable. The public will forgive this man. I look forward to seeing his return. "
                                },
                                {
                                    "original_text": "Really agonising to see @stevesmith49 like this.. he made a very silly mistake to see his team comeback in that test match.. FYI, STEVE SMITH IS NOT A CRIMINAL.. #SteveSmith #ChampionCricketer #WillComeBackStronger",
                                    "text": "Really agonising to see @stevesmith49 like this.. he made a very silly mistake to see his team comeback in that test match.. FYI, STEVE SMITH IS NOT A CRIMINAL.. #SteveSmith #ChampionCricketer #WillComeBackStronger"
                                },
                                {
                                    "original_text": "Twitter reactions to @stevesmith49's emotional press conference \\n\\n#SteveSmith #BallTamperingScandal #BallTampering\\n\\nDETAILS: https://t.co/TSRz5cWVqQ https://t.co/AxlYUDY7wr",
                                    "text": "Twitter reactions to @stevesmith49's emotional press conference #SteveSmith #BallTamperingScandal #BallTampering DETAILS: "
                                },
                                {
                                    "original_text": "Let\\u2019s forgive and forget @davidwarner31 @stevesmith49 @cbancroft4 @CricketAus #BallTempering https://t.co/VLVZLD1TzR",
                                    "text": "Let forgive and forget @davidwarner31 @stevesmith49 @cbancroft4 @CricketAus #BallTempering "
                                },
                                {
                                    "original_text": "@malcolmconn @stevesmith49 kudos to the soccer media and FFA who did not feel the need to jump all over another sport when it was dealing with a difficult situation.  You could learn a thing or to Malcolm once you have finished your humble pie.",
                                    "text": "@malcolmconn @stevesmith49 kudos to the soccer media and FFA who did not feel the need to jump all over another sport when it was dealing with a difficult situation. You could learn a thing or to Malcolm once you have finished your humble pie."
                                }
                            ],
                            "pos": [
                                {
                                    "original_text": "The world simply wants to see you cry, once you have cried they will feel satisfied and live happily ever after. If only Empathy was not just a Word and people still had it. God give @stevesmith49 and Bancroft all the strength to come out of this.\\U0001f64f",
                                    "text": "The world simply wants to see you cry, once you have cried they will feel satisfied and live happily ever after. If only Empathy was not just a Word and people still had it. God give @stevesmith49 and Bancroft all the strength to come out of this. "
                                },
                                {
                                    "original_text": "Surprised and humbled that @stevesmith49 has taken time to contact my son directly to personally apologise for making him so upset. He\\u2019s told Darcy that he\\u2019s glad he his support.",
                                    "text": "Surprised and humbled that @stevesmith49 has taken time to contact my son directly to personally apologise for making him so upset. He told Darcy that he glad he his support."
                                },
                                {
                                    "original_text": "Watching @stevesmith49 apologise and look broken is very sad. I\\u2019m sure his fans will forgive him . No 1 test batsman he definetely is a lot better than this !! Hope u stay strong !! https://t.co/z3AJ6Ycdwv",
                                    "text": "Watching @stevesmith49 apologise and look broken is very sad. I sure his fans will forgive him . No 1 test batsman he definetely is a lot better than this !! Hope u stay strong !! "
                                },
                                {
                                    "original_text": "@ashwinravi99 @stevesmith49 best dad #stevesmith \\u2665\\ufe0f\\u2665\\ufe0f\\u2665\\ufe0f\\u2665\\ufe0f https://t.co/b3HYT0da1h",
                                    "text": "@ashwinravi99 @stevesmith49 best dad #stevesmith "
                                },
                                {
                                    "original_text": "Feel for @stevesmith49 @davidwarner31 and bancroft.what happened was very unfortunate.Huge mistake but they admitted and will learn.Let us show them some compassion to overcome this pain.They deserve a second chance.",
                                    "text": "Feel for @stevesmith49 @davidwarner31 and bancroft.what happened was very unfortunate.Huge mistake but they admitted and will learn.Let us show them some compassion to overcome this pain.They deserve a second chance."
                                }
                            ]
                        },
                        "ethnicity": {
                            "Hindu": {
                                "neg": 1066,
                                "neu": 972,
                                "pos": 1725
                            },
                            "Muslim": {
                                "neg": 241,
                                "neu": 209,
                                "pos": 364
                            },
                            "Christian": {
                                "neg": 1948,
                                "neu": 1382,
                                "pos": 1899
                            }
                        },
                        "geographic_sentiments": {
                            "Pondicherry": {
                                "neg": 1,
                                "neu": 1,
                                "pos": 0
                            },
                            "Haryana": {
                                "neg": 12,
                                "neu": 8,
                                "pos": 14
                            },
                            "Punjab": {
                                "neg": 9,
                                "neu": 8,
                                "pos": 11
                            },
                            "Goa": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Chhattisgarh": {
                                "neg": 2,
                                "neu": 0,
                                "pos": 2
                            },
                            "Kerala": {
                                "neg": 1,
                                "neu": 1,
                                "pos": 2
                            },
                            "Daman and Diu": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Andaman and Nicobar": {
                                "neg": 1,
                                "neu": 0,
                                "pos": 2
                            },
                            "Bihar": {
                                "neg": 3,
                                "neu": 2,
                                "pos": 2
                            },
                            "Tamil Nadu": {
                                "neg": 30,
                                "neu": 22,
                                "pos": 47
                            },
                            "Jammu and Kashmir": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Madhya Pradesh": {
                                "neg": 8,
                                "neu": 14,
                                "pos": 16
                            },
                            "Jharkhand": {
                                "neg": 3,
                                "neu": 2,
                                "pos": 4
                            },
                            "Meghalaya": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Delhi": {
                                "neg": 69,
                                "neu": 51,
                                "pos": 83
                            },
                            "Orissa": {
                                "neg": 5,
                                "neu": 2,
                                "pos": 4
                            },
                            "Assam": {
                                "neg": 5,
                                "neu": 5,
                                "pos": 4
                            },
                            "Dadra and Nagar Haveli": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Lakshadweep": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "West Bengal": {
                                "neg": 27,
                                "neu": 25,
                                "pos": 33
                            },
                            "Rajasthan": {
                                "neg": 17,
                                "neu": 7,
                                "pos": 16
                            },
                            "Uttar Pradesh": {
                                "neg": 16,
                                "neu": 18,
                                "pos": 30
                            },
                            "Manipur": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Uttarakhand": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 1
                            },
                            "Andhra Pradesh": {
                                "neg": 4,
                                "neu": 9,
                                "pos": 15
                            },
                            "Himachal Pradesh": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Others": {
                                "neg": 242,
                                "neu": 253,
                                "pos": 427
                            },
                            "Nagaland": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Gujarat": {
                                "neg": 10,
                                "neu": 6,
                                "pos": 13
                            },
                            "Arunachal Pradesh": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Maharashtra": {
                                "neg": 80,
                                "neu": 49,
                                "pos": 126
                            },
                            "Tripura": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Telangana": {
                                "neg": 19,
                                "neu": 25,
                                "pos": 22
                            },
                            "Karnataka": {
                                "neg": 20,
                                "neu": 15,
                                "pos": 13
                            },
                            "Mizoram": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            },
                            "Sikkim": {
                                "neg": 0,
                                "neu": 0,
                                "pos": 0
                            }
                        }
                    }
                }];
                var positiveTimeline = [], negativeTimeline = [], neutralTimeline = [], totalTimeline = [];
                for(var row in maps[0]["contents"]["timeline"]){
                    for(var timeline in maps[0]["contents"]["timeline"][row]){
                        if(row === "pos"){

                            positiveTimeline.push(maps[0]["contents"]["timeline"][row][timeline]);
                            totalTimeline.push(timeline);

                        }
                        else if(row === "neg"){
                            negativeTimeline.push(maps[0]["contents"]["timeline"][row][timeline]);
                        }
                        else if(row === "neu"){
                            neutralTimeline.push(maps[0]["contents"]["timeline"][row][timeline]);
                        }


                    }
                }
                totalTimeline.sort();

                var lineChartData = {
                    labels: totalTimeline,
                    datasets: [{
                        label: 'Positive',
                        borderColor: window.chartColors.green,
                        backgroundColor: window.chartColors.green,
                        fill: false,
                        data: positiveTimeline,
                        yAxisID: 'y-axis-1',
                    }, {
                        label: 'Negative',
                        borderColor: window.chartColors.red,
                        backgroundColor: window.chartColors.red,
                        fill: false,
                        data: negativeTimeline,
                        yAxisID: 'y-axis-2'
                    },
                        {
                            label: 'Neutral',
                            borderColor: window.chartColors.blue,
                            backgroundColor: window.chartColors.blue,
                            fill: false,
                            data: neutralTimeline,
                            yAxisID: 'y-axis-3'
                        }]
                };
                for(var row in maps[0]["contents"]["geographic_sentiments"]){
                    if(row == "Others" || row == "Lakshadweep" || row == "Dadra and Nagar Haveli"
                        || row == "Andaman and Nicobar" || row == "Daman and Diu" || row == "Pondicherry"){
                        continue;
                    }
                    states.push(row);
                }
                var path = "assets/images/maps/";
                states.forEach(function(value, index){
                    var randomVal = Math.floor(Math.random() * 4);
                    var mapColor;
                    var maxCount = Math.max(maps[0]["contents"]["geographic_sentiments"][value]["pos"],
                        maps[0]["contents"]["geographic_sentiments"][value]["neg"],
                        maps[0]["contents"]["geographic_sentiments"][value]["neu"]);
                    if(maxCount === 0){
                        mapColor = "grey";
                    }
                    else if(maxCount === maps[0]["contents"]["geographic_sentiments"][value]["pos"]){
                        mapColor = "green";
                    }
                    else if(maxCount === maps[0]["contents"]["geographic_sentiments"][value]["neg"]){
                        mapColor = "red";
                    }
                    else if(maxCount === maps[0]["contents"]["geographic_sentiments"][value]["neu"]){
                        mapColor = "blue";
                    }
                    else{
                        mapColor = "grey";
                    }
                    var temp = '';
                    temp += value;
                    temp += '/';
                    temp += (value + '_' + mapColor + '.png');
                    temp = path + temp;
                    var currentElement = "";
                    currentElement += "<img class='overlayImage' src='{{ baseUrl }}";
                    currentElement += temp;
                    currentElement += " ' >";
                    document.getElementById("india-map").innerHTML += currentElement;
                });

                var totalTweetCount = 0;
                var negativeTweetCount, positiveTweetCount, neutralTweetCount;
                positiveTweetCount = 0;
                for (var row in maps[0]["contents"]["timeline"]["pos"]) {
                    positiveTweetCount = parseInt(maps[0]["contents"]["timeline"]["pos"][row]) + positiveTweetCount;
                }
                negativeTweetCount = 0;
                for (var row in maps[0]["contents"]["timeline"]["neg"]) {
                    negativeTweetCount = parseInt(maps[0]["contents"]["timeline"]["neg"][row]) + negativeTweetCount;
                }
                neutralTweetCount = 0;
                for (var row in maps[0]["contents"]["timeline"]["neu"]) {
                    neutralTweetCount = parseInt(maps[0]["contents"]["timeline"]["neu"][row]) + neutralTweetCount;
                }
                totalTweetCount = 0;
                totalTweetCount = positiveTweetCount + neutralTweetCount + negativeTweetCount;
                positivePercent = Math.round(((parseFloat(positiveTweetCount / totalTweetCount)) * 100) * 100) / 100;
                negativePercent = Math.round(((parseFloat(negativeTweetCount / totalTweetCount)) * 100) * 100) / 100;
                neutralPercent = Math.round(parseFloat(100 - positivePercent - negativePercent) * 100) / 100;
                var dataPercent = [];
                dataPercent.push(positivePercent);
                dataPercent.push(negativePercent);
                dataPercent.push(neutralPercent);
                var config = {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: dataPercent,
                            backgroundColor: ["#4CD900", "#FF0000", "#007AFF"

                            ],
                            label: 'Sentiment Analysis'
                        }],
                        labels: [
                            'Positive',
                            'Negative',
                            'Neutral'
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Sentiment Analysis'
                        },
                        tooltips: {
                           callbacks: {
                              label: function(tooltipItem, data) {
                                 var label = data.labels[tooltipItem.index];
                                 var _data = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                 var data = /\./.test(_data) ? _data.toFixed(2) : _data;
                                 return label + ' - ' + data + '%';
                              }
                           }
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true,
                            duration: 4000
                        }
                    }
                };
                var hinduData = [], muslimData = [], christianData = [];
                for(var row in maps[0]["contents"]["ethnicity"]["Hindu"]){
                    hinduData.push(maps[0]["contents"]["ethnicity"]["Hindu"][row]);
                }
                for(var row in maps[0]["contents"]["ethnicity"]["Muslim"]){
                    muslimData.push(maps[0]["contents"]["ethnicity"]["Muslim"][row]);
                }
                for(var row in maps[0]["contents"]["ethnicity"]["Christian"]){
                    christianData.push(maps[0]["contents"]["ethnicity"]["Christian"][row]);
                }
                var religions = ["Hindu", "Muslim", "Christian and Others"];
                var color = Chart.helpers.color;
                var barChartData = {
                    labels: ["Hindu", "Muslim", "Christian and Others"],
                    datasets: [
                        {
                            label: "Positive",
                            backgroundColor: "#4CD900",
                            data: [hinduData[2], muslimData[2], christianData[2]]
                        },
                        {
                            label: "Negative",
                            backgroundColor: "#FF0000",
                            data: [hinduData[0], muslimData[0], christianData[0]]
                        },
                        {
                            label: "Neutral",
                            backgroundColor: "#007AFF",
                            data: [hinduData[1], muslimData[1], christianData[1]]
                        }
                    ]
                };

                window.onload = function() {
                    var ctx = document.getElementById('sentiment-bar-chart').getContext('2d');
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Sentiment Analysis'
                            },
                            animation: {
                                duration: 4000,
                                easing: 'linear'
                            }

                        }
                    });
                    var ctx = document.getElementById('chart-area').getContext('2d');
                    window.myDoughnut = new Chart(ctx, config);
                    var ctx = document.getElementById('canvas').getContext('2d');
                    window.myLine = Chart.Line(ctx, {

                        data: lineChartData,
                        options: {
                            responsive: true,
                            hoverMode: 'index',
                            stacked: false,
                            title: {
                                display: true,
                                text: 'Timeline Chart'
                            },
                            scales: {
                                yAxes: [{
                                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-1',
                                }, {
                                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                    display: true,
                                    position: 'right',
                                    id: 'y-axis-2',

                                    // grid line settings
                                    gridLines: {
                                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                                    }
                                },{
                                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                    display: true,
                                    position: 'right',
                                    id: 'y-axis-3',

                                    // grid line settings
                                    gridLines: {
                                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                                    },
                                }],
                            },
                            animation: {
                                duration: 4000,
                                easing: 'linear'
                            }
                        }
                    });

                };

            </script>
        </div>
        </div>

    </div>
{% endblock %}